_site
.DS_Store
*/**/.DS_Store
.sass-cache
.jekyll-metadata
**/*~
_posts/2016/images/._189979.png
_posts/2016/images/._50964.jpg
_posts/2016/images/._Screen Shot 2016-12-26 at 09.19.26.png
_posts/2016/images/._minsky103-5584961.jpg
